In [1]:
#que 1
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#que 2
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
#que 3
import pandas as pd
dataframe = {'name':['alice','bob','clarie'],
            'age':[25,30,27],
            'gender':['female','male','female']}
df = pd.DataFrame(dataframe)

In [4]:
print(df)

     name  age  gender
0   alice   25  female
1     bob   30    male
2  clarie   27  female

In [5]:
#que 4
"""In pandas, a DataFrame is a two-dimensional labeled data structure that can store data of different types (numeric, string, boolean, etc.) in columns. It is similar to a table or a spreadsheet, where each column represents a variable, and each row represents an observation.

A DataFrame can be thought of as a collection of Pandas Series, where each column of the DataFrame is a Series object. A Series, on the other hand, is a one-dimensional labeled array that can store data of a single data type."""


#example
import pandas as pd

# Creating a Series
fruits = pd.Series(['Apple', 'Banana', 'Orange', 'Mango'])
print(fruits)

0     Apple
1    Banana
2    Orange
3     Mango
dtype: object

In [6]:
#que 5
#Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some common functions:
"""head and tail function
loc function
merge function
describe function
info
column and index
shape
group by 
sort value"""

#example
import pandas as pd

data = {'Name': ['John', 'Jane', 'Mike', 'Emma'],
        'Age': [25, 30, 35, 28],
        'Salary': [50000, 60000, 55000, 52000]}
df = pd.DataFrame(data)

# Generate descriptive statistics
description = df.describe()
print(description)

             Age       Salary
count   4.000000      4.00000
mean   29.500000  54250.00000
std     4.203173   4349.32945
min    25.000000  50000.00000
25%    27.250000  51500.00000
50%    29.000000  53500.00000
75%    31.250000  56250.00000
max    35.000000  60000.00000

In [7]:
#que 6
"""Among the options provided (Series, DataFrame, Panel), both Series and DataFrame are mutable in nature.

In Pandas, a mutable object is one that can be modified after creation. While a Series and a DataFrame can have their elements, columns, or rows modified, a Panel is an immutable data structure."""

'Among the options provided (Series, DataFrame, Panel), both Series and DataFrame are mutable in nature.\n\nIn Pandas, a mutable object is one that can be modified after creation. While a Series and a DataFrame can have their elements, columns, or rows modified, a Panel is an immutable data structure.'